    <!-- Seccion de Descripcion -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Descripción de Cheapy</h2>
              <br/>
                <p>Cheapy se trata de una aplicación web que ofrece interesantes descuentos a los clientes de bares y restaurantes. Los descuentos que ofrecemos difieren de los presentados por otras aplicaciones similares. Nuestras ofertas se basan principalmente en asistencia al local en horas de baja demanda, en velocidad de despejar la mesa o eleción de platos menos solicitados, por poner algunos ejemplos./p>
                <p>A parte de la funcionalidad principal de los descuentos, la aplicación web también ofrece la posibilidad de que los usuarios reciban notificaciones personalizadas de ofertas que puedan interesarles dependiendo de sus configuraciones de preferencia.</p>
                <br/>
              </div>
        </div>
    </section>
