    <!-- Seccion de Anuncios -->
    <section id="anuncios" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h3>Anuncios</h3>
              <br/>
                <h4>Para usuarios (público general): </h4>
                <p> Los españoles gastamos 1752€ de media en salir a comer, con las ofertas de Cheapy podrás ahorrar dinero.
                  Hay 4 tipos de ofertas:
                  <ul>Ofertas de plato específico</ul>
                  <ul>Ofertas por número de comensales</ul>
                  <ul>Ofertas por tiempo empleado en comer</ul>
                  <ul>Ofertas por franja horaria</ul>
                </p>
                <a href="https://www.youtube.com/watch?v=UtIiXLuw7kk" target="_blank">Ver vídeo 11-05-2021</a>
                <a href="https://www.youtube.com/watch?v=8gYSdiDSWKk" target="_blank">Ver vídeo 18-05-2021</a>
                <a href="https://www.youtube.com/watch?v=vob1DRViSH0" target="_blank">Ver vídeo 31-05-2021</a>
                <a href="https://youtu.be/upqAEJVLM_I" target="_blank">Ver vídeo 06-06-2021</a>
            
                <h4>Para clientes (bares y restaurantes): </h4>
                <p> ¿Quiere obtener más ingresos en su local?. Con Cheapy podrá atraer clientes gracias a que puede crear códigos de las ofertas que vaya a ofrecer.
                </p>
                <a href="https://www.youtube.com/watch?v=_vGMKNv259E" target="_blank">Ver vídeo 11-05-2021</a>
                <a href="https://www.youtube.com/watch?v=1BWInJV-8u0" target="_blank">Ver vídeo 18-05-2021</a>
                <a href="https://www.youtube.com/watch?v=r98QfcjHKZs" target="_blank">Ver vídeo 31-05-2021</a>
                <a href="https://www.youtube.com/watch?v=4bDYtTU3PkQ" target="_blank">Ver vídeo 06-06-2021</a>
                
                <h4>Para inversores: </h4>
                <p> Cheapy intenta incentivar a las personas para que coman fuera de casa y así apoyar a la economía.
                </p>
                <a href="https://www.youtube.com/watch?v=k6MODbBWdO4" target="_blank">Ver vídeo 11-05-2021</a>
                <a href="https://www.youtube.com/watch?v=8wVbB3g-O1U" target="_blank">Ver vídeo 18-05-2021</a>
                <a href="https://www.youtube.com/watch?v=u2ZeiosCsJk" target="_blank">Ver vídeo 31-05-2021</a> 
                <a href="https://youtu.be/xibMM0Isn3M" target="_blank">Ver vídeo 06-06-2021</a> 
                <br/>

                <h4>Vídeo demostración: </h4>
                <a href="https://www.youtube.com/watch?v=vnaDC1O8YtE" target="_blank">Ver vídeo</a>     
              </div>
        </div>
    </section>
